<footer class="main-footer">
	<div class="pull-right hidden-xs ">
		<b>Version</b> 1.0.0
	</div>
	<strong>Copyright &copy; 2017-2018 <a href="https://6napps.com">6nApps Studio</a>.</strong> All rights reserved.
</footer>
