<header class="main-header">
	{#{% block header %}#}
	{#<nav class="navbar" role="navigation">#}
	{#<button id="navigation-toggler" type="button" aria-label="Toggle navigation">#}
	{#<i class="fa fa-bars"></i>#}
	{#</button>#}

	{#<div id="header-logo">#}
	{#{% block header_logo %}#}
	{#<a class="logo {{ easyadmin_config('site_name')|length > 14 ? 'logo-long' }}" title="{{ easyadmin_config('site_name')|striptags }}" href="{{ path('easyadmin') }}">#}
	{#{{ easyadmin_config('site_name')|raw }}#}
	{#</a>#}
	{#{% endblock header_logo %}#}
	{#</div>#}
	{#</nav>#}

	{#{% set _logout_path = easyadmin_logout_path() %}#}
	{#{% set _user_has_logout = _logout_path is not empty %}#}
	{#{% set _user_is_impersonated = is_granted('ROLE_PREVIOUS_ADMIN') %}#}
	{#{% set _user_menu_content %}#}
	{#<div class="popover-content-section user-details {{ _user_has_logout or _user_is_impersonated ? 'user-has-actions' }}">#}
	{#<p class="small text-muted mb-0">{{ 'user.logged_in_as'|trans(domain = 'EasyAdminBundle') }}</p>#}
	{#<p class="user-name">#}
	{#{% if app.user|default(false) == false %}#}
	{#{{ 'user.anonymous'|trans(domain = 'EasyAdminBundle') }}#}
	{#{% else %}#}
	{#{{ app.user.username|default('user.unnamed'|trans(domain = 'EasyAdminBundle')) }}#}
	{#{% endif %}#}
	{#</p>#}
	{#</div>#}

	{#{% block user_menu %}#}
	{#{% if _user_has_logout or _user_is_impersonated %}#}
	{#<div class="popover-content-section user-menu">#}
	{#{% if _user_has_logout %}#}
	{#<a class="user-action user-action-logout" href="{{ _logout_path }}">{{ 'user.signout'|trans(domain = 'EasyAdminBundle') }}</a>#}
	{#{% endif %}#}
	{#{% if _user_is_impersonated %}#}
	{#<a class="user-action user-action-exit-impersonation" href="?_switch_user=_exit">{{ 'user.exit_impersonation'|trans(domain = 'EasyAdminBundle') }}</a>#}
	{#{% endif %}#}
	{#</div>#}
	{#{% endif %}#}
	{#{% endblock user_menu %}#}
	{#{% endset %}#}

	{#<div class="content-top navbar-custom-menu">#}
	{#<div class="user user-menu-wrapper {{ _user_is_impersonated ? 'user-is-impersonated' }}" data-toggle="popover" data-placement="bottom" data-container=".user-menu-wrapper" data-content="{{ _user_menu_content|e('html_attr') }}" data-html="true">#}
	{#<i class="fa {{ app.user is not null ? 'fa-user-circle' : 'fa-user-times' }} user-icon"></i>#}
	{#{{ app.user is not null ? app.user.username }}#}
	{#</div>#}
	{#</div>#}
	{#{% endblock header %}#}


{# Logo #}
	<a href="{{ path('easyadmin') }}" class="logo">
		{# mini logo for sidebar mini 50x50 pixels #}
		<span class="logo-mini"><b>A</b>LT</span>
		{# logo for regular state and mobile devices #}
		<span class="logo-lg"><b>Admin</b>LTE</span>
	</a>
	{# Header Navbar: style can be found in header.less #}
	<nav class="navbar navbar-static-top">
		{# Sidebar toggle button#}
		<a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</a>

		<div class="navbar-custom-menu">
			<ul class="nav navbar-nav">
				{# Messages: style can be found in dropdown.less#}
				<li class="dropdown messages-menu">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-envelope-o"></i>
						<span class="label label-success">4</span>
					</a>
					<ul class="dropdown-menu">
						<li class="header">You have 4 messages</li>
						<li>
							{# inner menu: contains the actual data #}
							<ul class="menu">
								<li>{# start message #}
									<a href="#">
										<div class="pull-left">
											<img src="{{ asset('bundles/sixnappseasyadminextension/adminLTE/dist/img/user2-160x160.jpg') }}"
												 class="img-circle" alt="User Image">
										</div>
										<h4>
											Support Team
											<small><i class="fa fa-clock-o"></i> 5 mins</small>
										</h4>
										<p>Why not buy a new awesome theme?</p>
									</a>
								</li>
								{# end message #}
							</ul>
						</li>
						<li class="footer"><a href="#">See All Messages</a></li>
					</ul>
				</li>
				{# Notifications: style can be found in dropdown.less #}
				<li class="dropdown notifications-menu">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-bell-o"></i>
						<span class="label label-warning">10</span>
					</a>
					<ul class="dropdown-menu">
						<li class="header">You have 10 notifications</li>
						<li>
							{# inner menu: contains the actual data #}
							<ul class="menu">
								<li>
									<a href="#">
										<i class="fa fa-users text-aqua"></i> 5 new members joined today
									</a>
								</li>
							</ul>
						</li>
						<li class="footer"><a href="#">View all</a></li>
					</ul>
				</li>
				{# Tasks: style can be found in dropdown.less #}
				<li class="dropdown tasks-menu">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-flag-o"></i>
						<span class="label label-danger">9</span>
					</a>
					<ul class="dropdown-menu">
						<li class="header">You have 9 tasks</li>
						<li>
							{# inner menu: contains the actual data #}
							<ul class="menu">
								<li>{# Task item #}
									<a href="#">
										<h3>
											Design some buttons
											<small class="pull-right">20%</small>
										</h3>
										<div class="progress xs">
											<div class="progress-bar progress-bar-aqua"
												 style="width: 20%" role="progressbar"
												 aria-valuenow="20" aria-valuemin="0"
												 aria-valuemax="100">
												<span class="sr-only">20% Complete</span>
											</div>
										</div>
									</a>
								</li>
								{# end task item #}
							</ul>
						</li>
						<li class="footer">
							<a href="#">View all tasks</a>
						</li>
					</ul>
				</li>
				{# User Account: style can be found in dropdown.less #}
				<li class="dropdown user user-menu">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<img src="{{ asset('bundles/sixnappseasyadminextension/adminLTE/dist/img/user2-160x160.jpg') }}" class="user-image" alt="User Image">
						<span class="hidden-xs">Alexander Pierce</span>
					</a>
					<ul class="dropdown-menu">
						{# User image #}
						<li class="user-header">
							<img src="{{ asset('bundles/sixnappseasyadminextension/adminLTE/dist/img/user2-160x160.jpg') }}" class="img-circle"
								 alt="User Image">

							<p>
								Alexander Pierce - Web Developer
								<small>Member since Nov. 2012</small>
							</p>
						</li>
						{# Menu Body #}
						<li class="user-body">
							<div class="row">
								<div class="col-xs-4 text-center">
									<a href="#">Followers</a>
								</div>
								<div class="col-xs-4 text-center">
									<a href="#">Sales</a>
								</div>
								<div class="col-xs-4 text-center">
									<a href="#">Friends</a>
								</div>
							</div>
							{# /.row #}
						</li>
						{# Menu Footer#}
						<li class="user-footer">
							<div class="pull-left">
								<a href="#" class="btn btn-default btn-flat">Profile</a>
							</div>
							<div class="pull-right">
								<a href="#" class="btn btn-default btn-flat">Sign out</a>
							</div>
						</li>
					</ul>
				</li>
				{# Control Sidebar Toggle Button #}
				<li>
					<a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
				</li>
			</ul>
		</div>
	</nav>
</header>
