{% block sidebar %}

<section class="sidebar">
	{% block main_menu_wrapper %}
	{{ include([
	_entity_config is defined ? _entity_config.templates.menu,
	easyadmin_config('design.templates.menu'),
	'@EasyAdmin/default/menu.html.twig'
	]) }}
	{% endblock main_menu_wrapper %}

	{#{% include('@SixnappsEasyadminExtension/default/adminLTE/siderbar-user-panel.html.twig') %}#}

	{#{% include('@SixnappsEasyadminExtension/default/adminLTE/sidebar-search.html.twig') %}#}

	{#{% include('@SixnappsEasyadminExtension/default/adminLTE/siderbar-menu.html.twig') %}#}
</section>
<!-- /.sidebar -->
{% endblock sidebar %}
