<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')|first|default('en') }}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="robots"
			  content="noindex, nofollow, noarchive, nosnippet, noodp, noimageindex, notranslate, nocache" />
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<meta name="generator" content="EasyAdmin" />

		<title>{% block page_title %}{{ block('content_title')|striptags|raw }}{% endblock %}</title>

		{% block head_stylesheets %}
			<link rel="stylesheet" href="{{ asset('bundles/easyadminextension/stylesheet/easyadmin-extension.css') }}">

			<style>
				:root {
					--color-primary: {{ easyadmin_config('design.brand_color') }};
				}
			</style>
		{% endblock %}

		{% for css_asset in easyadmin_config('design.assets.css') %}
			<link rel="stylesheet" href="{{ asset(css_asset) }}">
		{% endfor %}

		{#{% block head_favicon %}#}
		{#{% set favicon = easyadmin_config('design.assets.favicon') %}#}
		{#<link rel="icon" type="{{ favicon.mime_type }}" href="{{ asset(favicon.path) }}" />#}
		{#{% endblock %}#}

		{% block head_javascript %}
			<script src="{{ asset('bundles/easyadmin/app.js') }}"></script>
			<script src="{{ asset('bundles/easyadminextension/js/easyadmin-extension.js') }}"></script>
		{% endblock head_javascript %}

		{#{% if easyadmin_config('design.rtl') %}#}
		{#<link rel="stylesheet" href="{{ asset('bundles/easyadmin/app-rtl.css') }}">#}
		{#{% endif %}#}

		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">


		<link rel="stylesheet"
			  href="{{ asset('bundles/sixnappseasyadminextension/adminLTE/bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
		<link rel="stylesheet"
			  href="{{ asset('bundles/sixnappseasyadminextension/adminLTE/bower_components/font-awesome/css/font-awesome.min.css') }}">
		<!-- Ionicons -->
		<link rel="stylesheet"
			  href="{{ asset('bundles/sixnappseasyadminextension/adminLTE/bower_components/Ionicons/css/ionicons.min.css') }}">
		<!-- Theme style -->
		<link rel="stylesheet"
			  href="{{ asset('bundles/sixnappseasyadminextension/adminLTE/dist/css/AdminLTE.min.css') }}">
		<!-- AdminLTE Skins. Choose a skin from the css/skins folder instead of downloading all of them to reduce the load. -->
		<link rel="stylesheet"
			  href="{{ asset('bundles/sixnappseasyadminextension/adminLTE/dist/css/skins/_all-skins.min.css') }}">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

		<!-- Google Font -->
		<link rel="stylesheet"
			  href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

		<style>
			.global-actions {
				align-items: center;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				margin-left: 10px;
			}

			.form-action-search input[type=search].form-control {
				background-color: var(--white);
				background-image: url(data:image/svg+xml;utf8,<svg viewBox= "0 0 1792 1792" xmlns= "http://www.w3.o…5.5 225 150 150 225 55.5 273.5q0 220-124 399l343 343q37 37 37 90z" /></svg>);
				background-repeat: no-repeat;
				background-size: 13px 13px;
				background-position: 10px 8px;
				padding-left: 32px;
				width: 300px;
			}
		</style>

	</head>

	{#{% block body %}#}
	<body id="{% block body_id %}{% endblock %}"
		  class="sidebar-mini skin-black-light easyadmin {% block body_class %}{% endblock %}">
		{#<script>#}
		{#document.body.classList.add(#}
		{#'easyadmin-content-width-' + (localStorage.getItem('easyadmin/content/width') || 'normal'),#}
		{#'easyadmin-sidebar-width-' + (localStorage.getItem('easyadmin/sidebar/width') || 'normal')#}
		{#);#}
		{#</script>#}

		<div class="wrapper">
			{% block wrapper %}
				{% include('@SixnappsEasyadminExtension/default/adminLTE/header.html.twig') %}

				<aside class="main-sidebar">

					{% include('@SixnappsEasyadminExtension/default/adminLTE/sidebar.html.twig') %}
				</aside>

				<div class="content-wrapper">
					{% block flash_messages %}
						{{ include(_entity_config is defined ? _entity_config.templates.flash_messages : '@EasyAdmin/default/flash_messages.html.twig') }}
					{% endblock flash_messages %}

					{% block content %}


						<div class="content">
							<div class="box">
								<div class="box-header">

									{% block content_header_wrapper %}
										{% set _has_content_help = _entity_config is defined and _entity_config[app.request.query.get('action')]['help']|default(false) %}
										{% block content_header %}
												<h3 class="box-title">
													{% block content_title %}{% endblock %}
												</h3>

												{% block global_actions_wrapper %}
													<div class="box-tools">{% block global_actions %}{% endblock %}</div>
												{% endblock %}


												{% block content_help %}
													{% if _entity_config is defined and _entity_config[app.request.query.get('action')]['help']|default(false) %}
														<div class="content-header-help">
															{{ _entity_config[app.request.query.get('action')]['help']|trans(domain = _entity_config.translation_domain)|raw }}
														</div>
													{% endif %}
												{% endblock content_help %}

											{% endblock content_header %}
									{% endblock content_header_wrapper %}


								</div>

								<div class="box-body no-padding">

									<section id="main" class="content-body">
										{% block main %}{% endblock %}
									</section>

									{% block content_footer_wrapper %}
										<section class="content-footer">
											{% block content_footer %}{% endblock %}
										</section>
									{% endblock %}

								</div>
							</div>
						</div>
					{% endblock content %}

					<div id="content-resizer-handler" class="resizer-handler resizer-handler-right"></div>
				</div>


				{% block confirm_modal %}
					{{ include('@EasyAdmin/includes/_confirm_modal.html.twig', {
						_translation_domain: _entity_config.translation_domain|default(easyadmin_config('translation_domain')),
						_trans_parameters: _trans_parameters|default([]),
					}, with_context = false) }}
				{% endblock confirm_modal %}

				{% block create_entity_modal %}
					{{ include('@EasyAdmin/includes/_create_entity_modal.html.twig', {
						_translation_domain: _entity_config.translation_domain|default(easyadmin_config('translation_domain')),
						_trans_parameters: _trans_parameters|default([]),
					}, with_context = false) }}
				{% endblock create_entity_modal %}

			{% endblock wrapper %}
		</div>

		{% include('@SixnappsEasyadminExtension/default/adminLTE/footer.html.twig') %}

		<script src="{{ asset('bundles/sixnappseasyadminextension/adminLTE/bower_components/jquery/dist/jquery.min.js') }}"></script>
		<script src="{{ asset('bundles/sixnappseasyadminextension/adminLTE/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
		<script src="{{ asset('bundles/sixnappseasyadminextension/adminLTE/bower_components/jquery-slimscroll/jquery.slimscroll.min.js') }}"></script>
		<script src="{{ asset('bundles/sixnappseasyadminextension/adminLTE/bower_components/fastclick/lib/fastclick.js') }}"></script>
		<script src="{{ asset('bundles/sixnappseasyadminextension/adminLTE/dist/js/adminlte.min.js') }}"></script>
		<script>
			$( document ).ready( function () {
				$( ".sidebar-menu" ).tree()
			} )
		</script>

		{% for js_asset in easyadmin_config('design.assets.js') %}
			{#<script src="{{ asset(js_asset) }}"></script>#}
		{% endfor %}

		{% block body_javascript %}{% endblock body_javascript %}

	</body>
	{#{% endblock body %}#}
</html>




