{% extends '@EasyAdminExtension/default/list.html.twig' %}

{% block main %}
	{% set _list_item_actions = easyadmin_get_actions_for_list_item(_entity_config.name) %}
	<table class="table table-striped">
		<body>
			{% block table_head %}
				{{ parent() }}
			{% endblock table_head %}

			{% block table_body %}
				{{ parent() }}
			{% endblock table_body %}

		</body>
	</table>
	{% block delete_form %}
		{{ parent() }}
	{% endblock delete_form %}
{% endblock %}

